// SCSS Imports

// Bootstrap Import
@import "../../../public/node_modules/bootstrap/scss/mixins";
@import "../../../public/node_modules/bootstrap/scss/functions";
@import "../../../public/node_modules/bootstrap/scss/variables";

// Stylings

// GSO Blue: #5b9bd5
// GSO Lightgray: #a4a3a3
// GSO Darkgray: #2e2e2e
// GSO Font: Verdana

// General
body {
  background-color: #a4a3a3;

  p, h1, h2, h3, h4, h5, a, label, small, button {
    font-family: Verdana;
    color: #2e2e2e;
    font-style: italic;
  }

  .btn {
    .btn-primary {
      background-color: #5b9bd5;
      border-color: #5b9bd5;
    }

    .btn-outline-secondary {
      color: #a4a3a3;
      border-color: #a4a3a3;
    }
  }

  #inner-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 15px;

    background-color: #ffffff;
    border-radius: 25px;

    #content-head {
      margin: 10px 15px 25px 15px;
      #main-headline {
        float: right;
        font-style: italic;
        text-align: right;
        line-height: 0;
        p {
          color: #a4a3a3;
        }
      }
    }

    #content-main {
      h1, p {
        text-align: justify;
      }
    }
  }
}