// Stylings

// GSO Blue: #5b9bd5
// GSO Lightgray: #a4a3a3
// GSO Darkgray: #2e2e2e
// GSO Font: Verdana

// Log-In
#inner-frame {
  height: 475px;
  width: 400px;
}

#TEST {
  background-color: black;
  width: 500px;
  height: 500px;
}