// Stylings

// GSO Blue: #5b9bd5
// GSO Lightgray: #a4a3a3
// GSO Darkgray: #2e2e2e
// GSO Font: Verdana

// Log-In
#inner-frame {
  width: 400px;

  #content-head {

    #logo-gso {
      width: 125px;
    }

    #main-headline {
      margin-top: 5px;

      h1 {
        font-size: 16pt;
      }

      p {
        font-size: 8pt;
      }
    }
  }

  #content-main {
    margin: 15px;
    #remember {
      margin-top: 10px;
    }
  }
}